<!DOCTYPE html>
<html lang="en" ng-app="phoneApp">

<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="src/css/bootstrap.min.css">
	<link rel="stylesheet" href="src/css/bootstrap-theme.min.css"> </head>

<body ng-controller="adressCtrl as address">
	<p>Find:</p>
	<div>
		<input type="text" ng-model="address.filter"> </div>
	<button type="button" ng-click="address.showInput()">Add new contact</button>
	<div ng-show="address.inputField">
		<form action="">
			<label for="firstname">First Name
				<input type="text" id="firstname" ng-model="address.newContact.name"> </label>
			<label for="lastname">Last Name
				<input type="text" id="lastname" ng-model="address.newContact.surname"> </label>
			<label for="number">Phone Number
				<input type="text" id="number" ng-model="address.newContact.phone"> </label>
			<input type="button" value="Add" ng-click="address.addContact()"> </form>
	</div>
	<table class="table table-striped">
		<thead class="thead-default">
			<tr class="row">
				<td>First Name</td>
				<td>Last Name</td>
				<td>Phone Number</td>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="contact in address.contacts| filterByNameAndPhone:address.filter" class="row">
				<td>{{contact.name}}</td>
				<td>{{contact.surname}}</td>
				<td>{{contact.phone}}</td>
				<td>
					<button type="button">Edit</button>
				</td>
				<td>
					<button type="button" ng-click="address.removeContact(contact)">Delete</button>
				</td>
			</tr>
		</tbody>
	</table>
	<script src="src/libs/jquery/jquery-3.1.1.min.js"></script>
	<script src="src/libs/angular/angular.min.js"></script>
	<script src="app/app.js"></script>
</body>

</html>